# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# .intlayer
.intlayer

# package lock - remove for git to always use the latest package to automate testing
package-lock.json
pnpm-lock.yaml